.input-word {
  background-color: blue;
  border-radius: 8px;
  height: 16px;
  width: 16px;
}

.input-char{
    width: 64px;
    height: 64px;
    border-color: white;
    border: 5px solid white;
    font-size: 64px;
    text-align: center;
    color: white;
    background-color: orangered;
    outline: none;
}
