.App {
  padding: 16px 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.dialog-box {
  padding: 64px;
  background-color: white;
  color: red;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lost-dialog {
  color: red;
}

.won-dialog {
  color: green;
}

.game-mode-text {
  color: white;
  font-weight: bold;
}

.turn-state-text {
  color: white;
}

.selected-word {
  font-size: 48px;
  -webkit-text-stroke: 1px white;
}
